<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>

    <!-- 使用Spring + junit测试时候加载不了mapper文件，可能由于mapper.xml和mapper.java不再同一目录下  -->
    <!-- <mappers>
        <package name="com.ecms.cums.dao" />
        <package name="com.ecms.translate.dao" />
    </mappers> -->

    <plugins>
        <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
        	<property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>

</configuration>